* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  background-color: #f3f0f0;
}

.card{
  margin: 2px auto;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 50%;
  border-radius: 0.8rem;
  background: whitesmoke;
 
}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.bio{
  text-align: justify;
}
.pix{
  width:30%;
  height: auto;
}
img{
  width: 100%;
  height: auto;
border-radius: 60vw;

}
.arrows{
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: green;
  font-size: 4rem;
  
}
.arrow:hover{
  cursor: pointer;
  color: gray;
}