* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  background-color: rgb(31, 33, 32);
}
header{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 2rem;
  color: rgb(73, 171, 161);
}

.card{
  margin: 2px auto;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 50%;
  border-radius: 1.2rem;
  background: rgb(204, 201, 195);
 
}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  color:rgb(32, 29, 29)
}
.bio{
  text-align: justify;
}

.pix{
  width:30%;
  height: auto;
}
img{
  width: 100%;
  height: auto;
border-radius: 60vw;

}
.name{
  color: rgb(73, 171, 161);
}
.show{
  color:green;
  margin-left: 1rem;
  background: papayawhip;
  border: 0;
}
.arrows{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(73, 171, 161);
  font-size: 4rem;
  
}
.arrow:hover{
  cursor: pointer;
  color: gray;
}
button:hover{
  cursor: pointer;
  opacity: 0.6;
}
.random{
  
  padding: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  rgb(204, 201, 195);
  font-weight: 800;
  font-size: 1.5rem;
  background: rgb(31, 33, 32);
}